<div class="role-choice">
    <h1>
       <span>Before beginning, please tell what</span>
       <span>do you want to do.</span>
    </h1>
    <div class="side-wrapper clearfix text-center">
    <span></span>
        <div class="pull-left">
            <h2>Find A Tasker</h2>
            <button ng-click="roleChoice.hire()" class="btn btn-primary btn-lg">Hire</button>
        </div>
        <div class="pull-right">
            <h2>Find A Job</h2>
            <button ng-click="roleChoice.work()" class="btn btn-primary btn-lg">Work</button>
        </div>
    </div>
</div>
